<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>Lib_login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Adm</servlet-name>
    <servlet-class>admin.Admin_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adm</servlet-name>
    <url-pattern>/adm_log</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Add</servlet-name>
    <servlet-class>admin.Add_lib</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Vilib</servlet-name>
    <servlet-class>admin.View_lib</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vilib</servlet-name>
    <url-pattern>/view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Delib</servlet-name>
    <servlet-class>admin.Delete_lib</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delib</servlet-name>
    <url-pattern>/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Edlib</servlet-name>
    <servlet-class>admin.Edit_lib</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edlib</servlet-name>
    <url-pattern>/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Edlib2</servlet-name>
    <servlet-class>admin.Edit2_lib</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edlib2</servlet-name>
    <url-pattern>/edit2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admlo</servlet-name>
    <servlet-class>admin.Admin_logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admlo</servlet-name>
    <url-pattern>/adlo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>liblo</servlet-name>
    <servlet-class>librarian.Lib_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>liblo</servlet-name>
    <url-pattern>/lib_log</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adbo</servlet-name>
    <servlet-class>librarian.Add_books</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adbo</servlet-name>
    <url-pattern>/boad</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>vibo</servlet-name>
    <servlet-class>librarian.View_books</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vibo</servlet-name>
    <url-pattern>/View_books</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>debo</servlet-name>
    <servlet-class>librarian.Delete_books</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>debo</servlet-name>
    <url-pattern>/delbo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>edbo</servlet-name>
    <servlet-class>librarian.Edit_books</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>edbo</servlet-name>
    <url-pattern>/edbo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>edbo2</servlet-name>
    <servlet-class>librarian.Edit2_books</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>edbo2</servlet-name>
    <url-pattern>/edit2bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>chk</servlet-name>
    <servlet-class>librarian.Book_avail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chk</servlet-name>
    <url-pattern>/chkbo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>isbo</servlet-name>
    <servlet-class>librarian.Issue_books</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>isbo</servlet-name>
    <url-pattern>/issue</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>issued</servlet-name>
    <servlet-class>librarian.Books_issued</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>issued</servlet-name>
    <url-pattern>/issued</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>issue_chk</servlet-name>
    <servlet-class>librarian.Issue_chk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>issue_chk</servlet-name>
    <url-pattern>/issue_chk</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ret1</servlet-name>
    <servlet-class>librarian.Return_check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ret1</servlet-name>
    <url-pattern>/ret1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>rethi</servlet-name>
    <servlet-class>librarian.Return1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rethi</servlet-name>
    <url-pattern>/Return1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>return2</servlet-name>
    <servlet-class>librarian.Return2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>return2</servlet-name>
    <url-pattern>/return2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reissue</servlet-name>
    <servlet-class>librarian.Reissue_check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reissue</servlet-name>
    <url-pattern>/reissue</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reissue1</servlet-name>
    <servlet-class>librarian.Reissue1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reissue1</servlet-name>
    <url-pattern>/Reissue1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reissue2</servlet-name>
    <servlet-class>librarian.Reissue2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reissue2</servlet-name>
    <url-pattern>/reissue2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Lib_logout</servlet-name>
    <servlet-class>librarian.Lib_logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lib_logout</servlet-name>
    <url-pattern>/lib_logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Student_lib_id</servlet-name>
    <servlet-class>students.Stud_lib_id</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student_lib_id</servlet-name>
    <url-pattern>/stud_lib_id</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>View_fine</servlet-name>
    <servlet-class>students.View_stud_fine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>View_fine</servlet-name>
    <url-pattern>/stud_fine</url-pattern>
  </servlet-mapping>
</web-app>